/* ============================================================================
   COMPONENTS -> BUTTON
   ========================================================================= */


/**
* Base.
*/

.c-button {
  background-color: $g-color-red;
  border: 0;
  color: $g-color-white;
  font-size: rem($shell-g-font-size-x-small);
  font-weight: $g-font-weight;
  padding: 0 rem($shell-g-spacing);
}
