/* ============================================================================
   COMPONENTS -> TEXT FIELD
   ========================================================================= */


/**
* Base.
*/

.c-text-field {
  background-color: #a6a6a6;
  border-bottom-left-radius: $g-border-radius;
  border-bottom-right-radius: $g-border-radius;
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  z-index: 1;
}


.c-text-field__input {
  border-bottom-left-radius: $g-border-radius;
  color: $g-color-white;
  flex-grow: 1;
  font-size: rem($shell-g-font-size);
  font-weight: $g-font-weight;
  padding: rem(30) 0;
  text-align: center;
}

.c-text-field__input::placeholder {
  color: $g-color-white;
}


