/* ============================================================================
   COMPONENTS -> TEXT FIELD
   ========================================================================= */


/**
* Base.
*/

.c-text-field {
  background-color: $g-color-white;
  border-bottom-left-radius: $g-border-radius;
  border-bottom-right-radius: $g-border-radius;
  border-top: 1px solid $g-color-grey-dark;
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  z-index: 1;
}


.c-text-field__input {
  border-bottom-left-radius: $g-border-radius;
  flex-grow: 1;
  font-size: rem($shell-g-font-size);
  font-weight: $g-font-weight;
  padding: rem($shell-g-spacing-x-large) 0;
  text-align: center;
}

