/* ============================================================================
   COMPONENTS -> TRANSLATED CONTAINER
   ========================================================================= */


/**
* Base.
*/


.c-translated-container{
  display: flex;
  flex-grow: 1;
  flex-direction: column-reverse;
  justify-content: flex-start;
  position: relative;
  overflow-y: scroll;

  &:empty {
    opacity: 0;
  }
}

.c-translated__item {
  background-color: $g-color-white;
  border-top: $g-border;
  border-bottom: $g-border;
  color: $g-color-black;
  display: block;
  margin-bottom: rem($shell-g-spacing);
  padding: 0 rem($shell-g-spacing-2x-small);
}


.c-translated__text {
  align-items: center;
  display: flex;
  font-size: rem($shell-g-font-size-small);
  font-weight: $g-font-weight;
  height: 50%;
  padding: rem($shell-g-spacing-2x-small) 0 rem($shell-g-spacing-small);
}

.c-translated__text {
  border-bottom: 1px solid $g-color-grey-light;
}


.c-translated__lang-text {
  color: $g-color-grey-dark;
  font-size: rem($shell-g-font-size-x-small);
  font-weight: $g-font-weight;
  padding: rem($shell-g-spacing-2x-small) 0;
  text-transform: uppercase;
}

