/* ============================================================================
   COMPONENTS -> TRANSLATED CONTAINER
   ========================================================================= */


/**
* Base.
*/


.c-translated-container{
  display: flex;
  flex-grow: 1;
  flex-direction: column-reverse;
  justify-content: flex-start;
  padding: rem(5) rem(20);
  opacity: 0.8;
  overflow-y: scroll;

  &:empty {
    opacity: 0;
  }
}

.c-translated-container:first-child {
  opacity: 1;
}

.c-translated__item {
  background-color: $g-color-white;
  border: $g-border;
  color: $g-color-black;
  display: block;
  border-radius: $g-border-radius;
  margin-bottom: rem(16);
  padding: 0 rem(5);
  text-align: center;

}


.c-translated__item:not(:first-child) {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.c-translated__text {
  align-items: center;
  display: flex;
  font-size: rem($shell-g-font-size-small);
  font-weight: $g-font-weight;
  justify-content: center;
  height: 50%;
  padding: rem(5) 0 rem(10);
}

.c-translated__text:nth-child(2) {
  border-bottom: $g-border;
}


.c-translated__lang-text {
  font-size: rem($shell-g-font-size-x-small);
  font-weight: $g-font-weight;
  padding: rem(5) 0;
}

