/* ============================================================================
   BASE
   ========================================================================= */


input {
  background-color: inherit;
  border: none;
}


.mobile-screen {
  background: url("https://cdn.iconscout.com/public/images/icon/free/png-512/pig-face-sus-wild-animal-food-3088363eeae1bedf-512x512.png") no-repeat center;
  background-size: rem(150);
  background-color: $g-color-grey-light;
  border: $g-border;
  border-radius: $g-border-radius;
  display: flex;
  flex-direction: column;
  width: rem(300);
  height: rem(550);
  z-index: 2;
}


.c-container {
  background-color: lighten($g-color-pink, 15%);
  display: flex;
  justify-content: space-around;
  padding: rem(20);
}

