/* ============================================================================
   SETTINGS
   ========================================================================= */

/* 1. Colours (Global)
   ========================================================================= */

$g-color-pink: #F3ABBB;

$g-color-black: #211411;

$g-color-white: #fff;

$g-color-grey-light: #d3d7db;

$g-color-grey-dark: #a6a6a6;

$g-color-red: #E91E63;




/*
 * Border
*/

$g-border: 1px solid $g-color-grey-dark;


/**
 * Border-radius.
 */

$g-border-radius: 5px;


/* 2. Base (Local)
   ========================================================================= */

/**
 * Root element.
 */

$shell-base-root-element-background-color: #e4e7ea;

$shell-g-font-family: 'Helvetica Neue', sans-serif;

/*
 * Font size
*/

$shell-g-font-size: 20;
$shell-g-font-size-small: 19;
$shell-g-font-size-x-small: 13;

/*
 * Font weight
*/

$g-font-weight: 300;

/**
 * Links.
 */

$shell-base-link-text-decoration: none;


